*{
	margin: 0;
	padding: 25px;
}

.login{
	border: 2px solid red;
	border-radius: 25px;
	op: 100px;
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    padding: 25px;
    background-color: #FFC;
}

input{
	padding: 0;
}